@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    
<input type=button id='btnGetData' value='Get Data'/>

<div class="standardBorder"  style="position:relative;top:0px; width:1200px;height:400px;overflow: scroll;overflow-x:hidden;">

<div id="container" width='1200px' height='800px' style='background-color:#eeeeee;'></div>
    @*
    <canvas id="mainCanvas" width='1200px' height='800px' style='background-color:#eeeeee;'></canvas>
*@
</div>
<div style="position:relative;width:1200px;" >
    <div style="position:relative;width:500px;height:200px;float:left;overflow: scroll;overflow-x:hidden;"  class="standardBorder">
    Test
    </div> 
    <div style="position:relative;width:696px;height:200px;float:right; overflow: scroll;" class="standardBorder" >
    test2<br />
    
    <form action = "">
    <table>
        <tr>
            <td><b>Class:</b></td>
            <td><input type="text" name="class" size="39" /></td>
        </tr>
        <tr>
            <td><b>Class Description:</b></td>
            <td><textarea name="clsDescription" rows ="5" cols="30" ></textarea></td>
        </tr>
        <tr>
            <td><b>Test:</b></td>
            <td><input type="text" name="test" size="39" /></td>
        </tr>
        <tr>
            <td><b>Scenario:</b></td>
            <td><input type="text" name="scenario" size="39"  /></td>
        </tr>
        <tr>
            <td><b>Given:</b></td>
            <td><input type="text" name="given" size="39" /></td>
        </tr>
        <tr>
            <td><b>When:</b></td>
            <td><input type="text" name="when" size="39"  /></td>
        </tr>
        <tr>
            <td><b>Then:</b></td>
            <td><textarea name="then" rows ="5" cols="30" ></textarea></td>
        </tr>
    </table>
                  
</form>
    </div>
</div>