@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    
<input type=button id='btnGetData' value='Get Data'/>

<div class="standardBorder"  style="position:relative;top:0px; width:1200px;height:400px;overflow: scroll;overflow-x:hidden;">

<div id="container" width='1200px' height='800px' style='background-color:#eeeeee;'></div>
    @*
    <canvas id="mainCanvas" width='1200px' height='800px' style='background-color:#eeeeee;'></canvas>
*@
</div>
<div style="position:relative;width:1200px;" >
    <div style="position:relative;width:500px;height:200px;float:left;overflow: scroll;overflow-x:hidden;"  class="standardBorder">
    Test
    </div> 
    <div style="position:relative;width:696px;height:200px;float:right;"  class="standardBorder" >
    test2
    </div> 
</div>