@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    
<input type=button id='btnGetData' value='Get Data'/>
<input type=button id='btnGenerateReport' value='Generate Report'/>
@Html.ActionLink("Print Report", "PrintItems", null,  new { target = "_blank" })

<div class="standardBorder"  style="position:relative;top:0px; width:1200px;height:400px;overflow: scroll; overflow-x:hidden;">

<div id='container' width='1200px' height='800px' style='background-color:#eeeeee;'></div>-->
    @*
    <canvas id="mainCanvas" width='1200px' height='800px' style='background-color:#eeeeee;'></canvas>
*@
</div>
<div style="position:relative;width:1200px;" >
<div style="position:relative;width:696px;height:200px;float:right; overflow: scroll;overflow-x:hidden;background-color:#fffff5"  class="standardBorder" >
   <table cellpadding=0 cellspacing=3 style='padding 5px'>
            
        <tr>
            <td class='cellHeading' colspan=2 >Class Details</td>
        </tr>            
        <tr>
            <td class='cellTitle' >Class Name</td>
            <td class='cellDetail' ><a id="lblClassName"  /></td>
        </tr>
        <tr>
            <td class='cellHeading' colspan=2 >Test Details</td>
        </tr>   
        <tr>
            <td class='cellTitle' >Test Title</td>
            <td class='cellDetail' id='lblTestTitle' ></td>
        </tr>
        <tr>
            <td  class='cellTitle' >Test Description</td>
            <td class='cellDetailMultiline' valign="top" id='lblTestDescription' ></td>
        </tr>
                <tr>
            <td class='cellHeading' colspan=2 >Scenario Details</td>
        </tr>   
        <tr>
            <td class='cellTitle' >Scenario</td>
            <td class='cellDetail' id='lblScenario' ></td>
        </tr>
        <tr>
            <td class='cellTitle' >Given</td>
            <td class='cellDetail' id='lblGiven' ></td>
        </tr>
        <tr>
            <td class='cellTitle' >When</td>
            <td class='cellDetail' id='lblWhen' ></td>
        </tr>
        <tr>
            <td class='cellTitle' >Then</td>
            <td class='cellDetail' id='lblThen' ></td>
        </tr>
    </table>
    </div>

    <div id="TreeViewPanel" style="position:relative;width:500px;height:200px;float:left;overflow: scroll;overflow-x:hidden"  class="standardBorder">
        <ul id="browser">
        </ul>                
    </div>
</div>


<script type="text/javascript">

    function build_tree(data) {
        var i = 0;
        var itemString = '';

        itemString += "<li><span class='folder'>Root</span><ul>";
        for (i = 0; i < data.length; i++) {
            itemString += "<li><span class='folder'>Test - " + data[i].Title + "</span>";

            var s = 0;
            for (s = 0; s < data[i].Scenarios.length; s++) {
                var testTitle = data[i].Title;
                var testDesc = data[i].Description;
                var scenario = data[i].Scenarios[s].Description;
                var given = data[i].Scenarios[s].Given;
                var when = data[i].Scenarios[s].When;
                var then = data[i].Scenarios[s].Then;

                itemString += "<ul><li><span class='folder'><a href='javascript:populateDetails(\"" + given + "\",\"" + testTitle + "\",\"" + testDesc + "\",\"" + scenario + "\",\"" + when + "\",\"" + then +"\")'>Scenario: " + data[i].Scenarios[s].Description + "</a></span></li></ul>";
            }
            itemString += "</li>"
        }

        $('#browser li').remove();
        var branches = $(itemString).appendTo('#browser');
        $("#browser").treeview({
            add: branches
        });

    }

    function populateDetails(given, testTitle, description, scenario, when, then) {
        $('#lblTestTitle').text(testTitle);
        $('#lblTestDescription').text(description);
        $('#lblScenario').text(scenario);
        $('#lblGiven').text(given);
        $('#lblWhen').text(when);
        $('#lblThen').text(then);
    }


    $(function () {

        $("#browser").treeview();
        var branches = $("<li><span class='folder'>Root</span>").appendTo("#browser");
        $("#browser").treeview({
            add: branches
        });
    });
</script>